<ion-header color=" success" >
  <ion-toolbar >
    
    <ion-title>
    Videojuegos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  

  <ion-list color="success">
    <ion-item routerLink="/alert">
      <ion-label >Ayuda</ion-label>
    </ion-item>
    <ion-item routerLink="/action-sheet">
      <ion-label>Favoritos</ion-label>
    </ion-item>
    <ion-item routerLink="/formulario">
      <ion-label>Cuenta de usuario</ion-label>
    </ion-item>
    <ion-item routerLink="/card">
      <ion-label>Categorias</ion-label>
    </ion-item>
    <ion-item routerLink="/grid">
      <ion-label>Videojuegos</ion-label>
    </ion-item>
    <ion-item routerLink="/formulario2">
      <ion-label>datos usuario</ion-label>
    </ion-item>
  </ion-list>
  <ion-img src="/assets/game.jpg"></ion-img>
  
</ion-content>
